[user]
	name = Piotr Sampławski
	email = sampi60@gmail.com
[push]
	default = current
[color]
	ui = true
[color "status"]
	header  = normal
	added = green
	untracked = red
	nobranch = red
	branch = red bold
